body {
  background-color: #f8f9fa;
  color: #343a40;
}
canvas {
  width: 100%;
  max-width: 1200px;
  height: 600px;
  margin: 20px auto;
  border: 1px solid #ccc;
}
.header {
  background-color: #28a745;
  padding: 20px;
  text-align: center;
  border-radius: 0.5rem;
}
.instructions {
  background-color: #e9ecef;
  padding: 15px;
  border-radius: 0.5rem;
  margin-bottom: 20px;
}

.inputs {
  background-color: #def3da;
  padding: 15px;
  border-radius: 0.5rem;
  margin-bottom: 20px;
}
/* Estilo para o controle deslizante */
input[type="range"] {
  -webkit-appearance: none; /* Remove o estilo padrão do controle deslizante no Safari */
  width: 100%; /* Largura do controle deslizante */
  height: 8px; /* Altura da trilha */
  background: #e9ecef; /* Cor de fundo da trilha */
  border-radius: 5px; /* Bordas arredondadas da trilha */
  outline: none; /* Remove o contorno ao focar */
}

/* Estilo para a barra preenchida */
input[type="range"]::-webkit-slider-runnable-track {
  background: #28a745; /* Cor verde para a barra preenchida */
  border-radius: 5px; /* Bordas arredondadas da trilha */
}

/* Estilo para o polegar do controle deslizante */
input[type="range"]::-webkit-slider-thumb {
  appearance: none; /* Remove o estilo padrão do polegar */
  width: 20px; /* Largura do polegar */
  height: 20px; /* Altura do polegar */
  border-radius: 50%; /* Bordas arredondadas do polegar */
  background: white; /* Cor do polegar */
}
