body {
  background-color: #f8f9fa;
  color: #343a40;
}
canvas {
  width: 100%;
  max-width: 1200px;
  height: 600px;
  margin: 20px auto;
  border: 1px solid #ccc;
}
.header {
  background-color: #28a745;
  padding: 20px;
  text-align: center;
  border-radius: 0.5rem;
}
.instructions {
  background-color: #e9ecef;
  padding: 15px;
  border-radius: 0.5rem;
  margin-bottom: 20px;
}

.inputs {
  background-color: #def3da;
  padding: 15px;
  border-radius: 0.5rem;
  margin-bottom: 20px;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  background: #e9ecef;
  border-radius: 5px;
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #28a745;
  border-radius: 5px;
}
a {
  color: #28a745;
  text-decoration: none;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
}
